.profile {
  background: url(../images/background.png);

  &-loading {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #fff;
    font-size: 50px;
    left: 0;
    padding: 100px 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 100;
  }
}
