ALLOWED_HOSTS = (
    ".geekadm.ru",
    ".geekadm.ru.",
)

CACHES = {
    "default": {
        "BACKEND": "django.core.cache.backends.memcached.MemcachedCache",
        "LOCATION": "127.0.0.1:11211",
        "KEY_PREFIX": "newsanta",
    }
}

CSRF_COOKIE_HTTPONLY = True

CSRF_COOKIE_SECURE = True

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "newsanta",
        "USER": "clubadm",
    }
}

DEBUG = False

LOGGING = {
    "version": 1,
    "formatters": {
        "clubadm": {
            "format": "[%(asctime)s] %(levelname)s [%(name)s] %(message)s",
        },
    },
    "handlers": {
        "clubadm": {
            "formatter": "clubadm",
            "class": "logging.FileHandler",
            "filename": "/var/log/clubadm/oldsanta.log",
        },
    },
    "loggers": {
        "django": {
            "handlers": ["clubadm"],
            "level": "ERROR",
            "propagate": True,
        },
        "clubadm": {
            "handlers": ["clubadm"],
            "level": "WARNING",
            "propagate": True,
        },
    },
}

SECRET_KEY = "{{ secret_key }}"


SESSION_COOKIE_SECURE = True

SESSION_ENGINE = "django.contrib.sessions.backends.cache"


STATIC_ROOT = "/var/www/newsanta/static"


BROKER_URL = "amqp://localhost:5672/newsanta"


REST_FRAMEWORK = {
    "DEFAULT_RENDERER_CLASSES": (
        "rest_framework.renderers.JSONRenderer",
    )
}


TMAUTH_CLIENT = "{{ tmauth_client }}"
TMAUTH_SECRET = "{{ tmauth_secret }}"
TMAUTH_TOKEN_URL = "https://geektimes.ru/auth/o/access-token/"
TMAUTH_LOGIN_URL = "https://geektimes.ru/auth/o/login/"
TMAUTH_ENDPOINT_URL = "https://api.geektimes.ru/v1"
