{% load staticfiles pipeline %}
<!DOCTYPE html>
<html ng-app="clubadm">
  <head>
    <meta charset="utf-8">
    <title>Клуб анонимных Дедов Морозов {{ season.year }} на Geektimes</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    {% stylesheet "clubadm" %}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic">
  </head>
  <body{% block body_attrs %}{% endblock %}>
    <header class="header" role="banner">
      <div class="header-inner">
        <ul class="header-timetable">
          <li itemscope itemtype="http://schema.org/Event">
            <meta itemprop="startDate" content="{{ season.signups_start }}">
            <time datetime="{{ season.signups_start }}">
              {{ season.signups_start | date:"d F" }}
            </time>
            <p itemprop="name">Начало регистрации</p>
          </li>
          <li itemscope itemtype="http://schema.org/Event">
            <meta itemprop="startDate" content="{{ season.signups_end }}">
            <time datetime="{{ season.signups_end }}">
              {{ season.signups_end | date:"d F" }}
            </time>
            <p itemprop="name">Жеребьевка адресов</p>
          </li>
          <li itemscope itemtype="http://schema.org/Event">
            <meta itemprop="startDate" content="{{ season.ship_by }}">
            <time datetime="{{ season.ship_by }}">
              {{ season.ship_by | date:"d F" }}
            </time>
            <p itemprop="name">Окончание сезона</p>
          </li>
        </ul>
        <div class="header-user">
          {% if user.is_authenticated %}
            <img class="avatar" src="{{ user.avatar }}" alt="avatar">
            <span class="username">{{ user.username }}</span>
            <a href="/logout?next=%2F{{ season.year }}%2F">Выход</a>
          {% else %}
            <a class="btn login-btn" href="/login?next=%2F{{ season.year }}%2Fprofile%2F">
              Войти через Geektimes
            </a>
          {% endif %}
        </div>
      </div>
    </header>
    {% block body %}{% endblock %}
    <footer class="footer" role="contentinfo">
      <div class="footer-inner">
        <div class="footer-designer">
          Дизайн сайта<br>
          <a href="http://habrahabr.ru/users/tan4ikweb/">Татьяна Другак</a>
        </div>
        <div class="footer-feedback">
          В любой непонятной ситуации<br>
          пиши <a href="http://geektimes.ru/users/negasus/">negasus</a>
          и <a href="http://geektimes.ru/users/kafeman/">kafeman</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript">
      var legacyPath = window.location.hash.substr(1);
      if (legacyPath.indexOf("/") == 0) {
        window.location.replace(legacyPath);
      }
    </script>
    <script src="{% static 'js/StackBlur.js' %}"></script>
    {% javascript "clubadm" %}
  </body>
</html>
