.btn {
  color: #fff !important;
  display: inline-block;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.login-btn {
  background: url(gt-logo-35.png) no-repeat #8491b7;
  font-weight: bold;
  padding-left: 35px;
  width: 185px;
}

.snow-container {
  background: #aab1cd;
}

.snowflake {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3em;
  position: absolute;
  top: 0;
  z-index: 0;

  -webkit-animation-name: falling;
     -moz-animation-name: falling;
      -ms-animation-name: falling;
       -o-animation-name: falling;
          animation-name: falling;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;
}

.thing {
  background: url(things.png);
}

.thing-candy {
  background-position: -39px -25px;
  height: 37px;
  width: 73px;
}

.thing-candy2 {
  background-position: -38px 0;
  height: 25px;
  width: 116px;
}

.thing-bitcoin {
  height: 65px;
  width: 38px;
}

.thing-snowflake {
  background-position: 0 -65px;
  height: 120px;
  opacity: 0.4;
  width: 120px;

  -webkit-animation-duration: 8s;
     -moz-animation-duration: 8s;
      -ms-animation-duration: 8s;
       -o-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-name: blink;
     -moz-animation-name: blink;
      -ms-animation-name: blink;
       -o-animation-name: blink;
          animation-name: blink;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.thing-snowflake2 {
  background-position: 0 -185px;
  height: 112px;
  opacity: 0.4;
  width: 118px;

  -webkit-animation-delay: 4s;
     -moz-animation-delay: 4s;
      -ms-animation-delay: 4s;
       -o-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-duration: 8s;
     -moz-animation-duration: 8s;
      -ms-animation-duration: 8s;
       -o-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-name: blink;
     -moz-animation-name: blink;
      -ms-animation-name: blink;
       -o-animation-name: blink;
          animation-name: blink;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.logo {
  background: url(logo.png);
  height: 83px;
  width: 185px;
}

.cloud {
  background: url(cloud.png);
  font-family: 'PT Sans Caption', Arial, sans-serif;
  font-size: 13px;
  height: 83px;
  padding: 60px 40px 60px 60px;
  text-align: center;
  text-transform: none;
  width: 262px;
}

.banner {
  height: 560px;
}

.banner .logo {
  position: absolute;
  margin-top: 85px;
  margin-left: 377px;
}

.banner .santa {
  height: 367px;
  position: absolute;
  margin-top: 215px;
  margin-left: -5px;
  width: 346px;
}

.banner .tree {
  position: absolute;
  margin-top: 34px;
  margin-left: 630px;
}

.banner .thing {
  position: absolute;
}

.banner .thing-snowflake {
  margin-top: 45px;
  margin-left: 32px;
}

.banner .thing-snowflake2 {
  margin-top: 216px;
  margin-left: -80px;
}

.banner .thing-candy {
  margin-top: 553px;
  margin-left: 755px;
}

.banner .thing-bitcoin {
  margin-top: 526px;
  margin-left: 847px;
}

.banner-inner {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

.banner-welcome {
  color: #476162;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 24px;
  position: absolute;
  margin-top: 235px;
  text-align: center;
  text-transform: uppercase;
  width: 940px;
}

.banner-welcome .cloud {
  display: none;
  position: absolute;
  margin-top: -190px;
  margin-left: 620px;
  z-index: 800;
}

.banner-welcome h2 {
  font-weight: bold;
  z-index: 900;
}

.banner-members {
  color: #fff;
  position: absolute;
  margin-top: 340px;
  text-align: center;
  text-transform: uppercase;
  width: 940px;
}

.banner-counter {
  margin: 10px 0;
}

.banner-counter b {
  border: 2px solid rgba(255, 255, 255, 0.4);
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 80px;
  display: inline-block;
  line-height: 80px;
  margin: 0px 2px;
  padding: 0px 10px;
}

.section-inner {
  margin: 0 auto;
  padding: 60px 10px;
  width: 940px;
}

.critical {
  background: #fff;
  bottom: 0;
  left: 0;
  padding: 50px 10px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

#description {
  margin-top: 80px;
}

#description article {
  display: inline-block;
  text-align: center;
  width: 460px;
}

#description img {
  height: 193px;
  width: 189px;
}

#description p {
  line-height: 1.5;
}

#description h1 {
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 24px;
  padding: 20px 0;
}

#description .star {
  height: 192px;
  position: absolute;
  margin-top: -100px;
  margin-left: 420px;
  width: 100px;
}

#super-security {
  margin-left: 16px;
}

#summary {
  background: #e2e3e8;
  padding-bottom: 10px;
  text-align: center;
}

#summary img {
  height: 117px;
  width: 240px;
}

#summary hgroup {
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 24px;
  margin: 20px 0;
  padding: 0px 150px;
  text-transform: uppercase;
}

#summary h1 {
  font-weight: bold;
}

#summary hr {
  background: #f2f6f9;
  border: none;
  height: 2px;
}

#summary p {
  padding: 0 300px 20px 320px;
}

#summary .login-btn {
  background: url(gt-logo-53.png) no-repeat #8491b7;
  font-size: 18px;
  line-height: 53px;
  padding-left: 53px;
  width: 300px;
}

#summary .thing-candy2 {
  position: absolute;
  margin-top: 45px;
  margin-left: 412px;
}

#outbutton {
  display: block;
  margin: 0 auto;
  width: 350px;
  margin-top: 35px;
  background: #aab1cd;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 0;
}

input[type='text'],
textarea {
  font: 16px/1.4 "PT Sans Narrow",Arial,sans-serif;
  background: #fff;
  border: 0;
  box-sizing: border-box;
  resize: none;
  width: 100%;
  color: #6e8283;
  padding: 7px;
  margin: 5px 0px;
}

input[type='text'].ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  background: #a94442;
  color: #fff;
}

label {
  display: block;
  margin-top: 15px;
}

label b {
  font-weight: bold;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-ms-keyframes blink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes blink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

#welcome-snow {
  background: #aab1cd;
  height: 560px;
  position: absolute;
  top: 89px;
  width: 100%;
}
