<main class="profile-inner" role="main">
  <canvas id="profile-snow"></canvas>
  <div class="logo profile-logo"></div>
  <div class="profile-stats">
    <p>
      <ng-pluralize count="season.sent" when="{
        'one': '{} участник',
        'few': '{} участника',
        'many': '{} участников'
      }"></ng-pluralize>
      <span ng-if="!season.is_closed">уже</span> отправили
    </p>
    <strong>{{ season.received }} &mdash; получили подарок</strong>
  </div>
  <div class="profile-stats profile-members">
    <p ng-if="season.is_closed">в {{ season.year }} году было</p>
    <p ng-if="!season.is_closed">в этом году</p>
    <strong>
      <ng-pluralize count="season.members" when="{
        'one': '{} участник',
        'few': '{} участника',
        'many': '{} участников'
      }"></ng-pluralize>
    </strong>
  </div>
  <div class="card profile-santa" ng-init="chats.santa=false" ng-class="{
    'card-open': chats.santa
  }" ng-if="member.santa">
    <div class="card-data" ng-if="member.santa.is_gift_sent && member.is_gift_received">
      <img src="/static/santa1.png" alt="santa" width="95" height="97">
      <h4>С Новым Годом!</h4>
      <div class="card-content">
        <img src="/static/gift3.png" alt="gift">
      </div>
      <p>
        Обсудить подарки можно <a href="{{ season.gallery }}">тут</a>.
      </p>
    </div>
    <div class="card-data" ng-if="member.santa.is_gift_sent && !member.is_gift_received">
      <img src="/static/santa1.png" alt="santa" width="95" height="97">
      <h4>Тебе отправлен подарок!</h4>
      <div class="card-content">
        <img src="/static/gift2.png" alt="gift">
      </div>
      <button class="button" ng-click="receiveGift()">
        Я получил подарок!
      </button>
    </div>
    <div class="card-data" ng-if="!member.santa.is_gift_sent">
      <img src="/static/santa1.png" alt="santa" width="95" height="97">
      <h4>Тебе еще не отправили подарок</h4>
      <img src="/static/gift.png" alt="gift">
    </div>
    <div class="card-splitter">
      <span ng-click="chats.santa=!chats.santa">
        Чат с твоим Дедом Морозом
      </span>
      <p>
        Твой АДМ был на сайте <i am-time-ago="member.santa.last_visit"></i>
      </p>
    </div>
    <div class="card-chat">
      Чат в разработке
    </div>
  </div>
  <div class="card profile-santa" ng-if="member && !member.santa">
    <div class="card-stub">
      <img src="/static/santa1.png" alt="santa" width="95" height="97">
      <h4>Твой адрес для получения подарка</h4>
      <div class="card-content">
        <h5>{{ member.fullname }}</h5>
        <p>{{ member.address }}</p>
        <p>Индекс {{ member.postcode }}</p>
      </div>
      <button class="button" ng-click="signOut()">
        Я передумал участвовать :-(
      </button>
    </div>
  </div>
  <div class="card profile-santa" ng-if="!member">
    <form class="card-form" novalidate>
      <img src="/static/santareg.png">
      <h4>Твой адрес для получения подарка</h4>
      <label for="fullname">
        <b>Полное имя</b> (настоящее, а то подарок не придет)
      </label>
      <input id="fullname" type="text" required ng-model="form.fullname">
      <label for="address"><b>Адрес</b></label>
      <textarea id="address" required ng-model="form.address"></textarea>
      <a href="http://www.russianpost.ru/resp_engine.aspx?Path=RP/SERVISE/RU/Home/postuslug/Rule_adress">
        Правила оформления почтовых отправлений
      </a>
      <button class="button" ng-click="signUp()">
        Зарегистрировать участника
      </button>
      <label for="postcode"><b>Индекс</b></label>
      <input id="postcode" type="text" required ng-model="form.postcode">
    </form>
  </div>
  <div class="card profile-giftee" ng-init="chats.giftee=false" ng-class="{
    'card-open': chats.giftee
  }" ng-if="member.giftee">
    <div class="card-data" ng-if="member.is_gift_sent && member.giftee.is_gift_received">
      <img src="/static/santa2.png" alt="santa" width="95" height="97">
      <h4>Твой АПП получил подарок</h4>
      <div class="card-content">
        <img src="/static/gift4.png" alt="gift">
      </div>
      <p>
        Обсудить подарки можно <a href="{{ season.gallery }}">тут</a>.
      </p>
    </div>
    <div class="card-data" ng-if="member.is_gift_sent && !member.giftee.is_gift_received">
      <img src="/static/santa2.png" alt="santa" width="95" height="97">
      <h4>АПП еще не получил подарок</h4>
      <img src="/static/gift.png" alt="gift">
    </div>
    <div class="card-data" ng-if="!member.is_gift_sent">
      <img src="/static/santa2.png" alt="santa" width="95" height="97">
      <h4>Отправляй подарок сюда</h4>
      <div class="card-content">
        <h5>{{ member.giftee.fullname }}</h5>
        <p>{{ member.giftee.address }}</p>
        <p>Индекс {{ member.giftee.postcode }}</p>
      </div>
      <button class="button" ng-click="sendGift()">
        Я отправил подарок!
      </button>
    </div>
    <div class="card-splitter">
      <span ng-click="chats.giftee=!chats.giftee">
        Чат с твоим АПП
      </span>
      <p>
        Твой АПП был на сайте <i am-time-ago="member.giftee.last_visit"></i>
      </p>
    </div>
    <div class="card-chat">
      Чат в разработке
    </div>
  </div>
  <div class="card profile-giftee" ng-if="!member.giftee">
    <div class="card-stub">
      <img src="/static/santa2.png" alt="santa" width="95" height="97">
      <h4>Твой получатель</h4>
      <div class="card-content" ng-if="season.is_participatable">
        {{ season.signups_end | date:'d MMMM' }} пройдет<br>жеребьевка адресов
      </div>
      <div class="card-content" ng-if="!season.is_participatable">
        Адреса уже розданы. Подписывайся на обновления
        <a href="http://geektimes.ru/users/clubadm/">@clubadm</a>, чтобы
        не&nbsp;пропустить регистрацию на&nbsp;следующий год.
      </div>
    </div>
  </div>
</main>
