<div id="timetable" class="timetable">
  <div class="timetable-inner">
    <div class="timetable-phase">
      <time>{{ season.signups_start | date:'d MMMM' }}</time>
      <p>Начало регистрации</p>
    </div>
    <div class="timetable-phase">
      <time>{{ season.signups_end | date:'d MMMM' }}</time>
      <p>Жеребьёвка адресов</p>
    </div>
    <div class="timetable-phase">
      <time>{{ season.ship_by | date:'d MMMM' }}</time>
      <p>Окончание сезона</p>
    </div>
    <div class="timetable-account" ng-if="user">
      <img class="avatar" src="{{ user.avatar }}">
      <span class="username">{{ user.username }}</span>
      <a class="logout" href="/logout?next=%2F%23%2F{{ season.year }}">Выход</a>
    </div>
    <div class="timetable-account" ng-if="!user">
      <a class="btn login-btn" href="/login?next=%2F%23%2F{{ season.year }}%2Fprofile">
        Войти через Geektimes
      </a>
    </div>
  </div>
</div>
<div ui-view></div>
<footer class="footer" role="contentinfo">
  <div class="footer-inner">
    <p class="footer-designer">
      Дизайн сайта<br>
      <a href="http://habrahabr.ru/users/tan4ikweb/">Татьяна&nbsp;Другак</a>
    </p>
    <p class="footer-feedback">
      В&nbsp;любой непонятной ситуации
      пиши&nbsp;<a href="http://geektimes.ru/users/negasus/">negasus</a>
      и&nbsp;<a href="http://geektimes.ru/users/kafeman/">kafeman</a>
    </p>
  </div>
</footer>
